.bar-block {
  border-radius: 12px;
  box-sizing: content-box;
  display: inline-block;
  position: relative;
  touch-action: none;
  color: #1976d2;
  -webkit-tap-highlight-color: transparent;
  height: 4px;
  width: 100%;
  padding: 13px 0;

  .bar-len {
    display: block;
    position: absolute;
    border-radius: inherit;
    background-color: currentColor;
    opacity: 0.38;
    width: 100%;
    height: inherit;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    .bar-item {
      position: absolute;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      outline: 0;
      background-color: #0603bd;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        bottom 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        bottom 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

      &:hover {
        box-shadow: 0px 0px 0px 8px rgb(25, 118, 210);
        cursor: pointer;
      }

      &:active {
        box-shadow: 0px 0px 0px 14px rgb(25, 118, 210);
      }

      .bar-item-ip {
        border: 0px;
        clip: rect(0px, 0px, 0px, 0px);
        height: 100%;
        margin: -1px;
        overflow: hidden;
        padding: 0px;
        position: absolute;
        white-space: nowrap;
        width: 100%;
        direction: ltr;
      }
    }
  }
}
