.iciELI {
  border: solid 2px #0658c2 !important;
  min-width: unset !important;
  max-width: unset !important;
  height: 40px !important;
  justify-content: center;
  .kCudqJ {
    display: none;
  }
}
