.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 450ms linear 250ms;
}
.fade-exit {
  display: none !important;
  opacity: 0;
}
.fade-exit.fade-exit-active {
  display: none !important;
  opacity: 0;
  transition: opacity 150ms linear;
}

.short-text-header {
  display: none;
}
#btnSavePTU,
#btnAcceptToSendTaxAuthority {
  position: relative;
  top: 50px;
}

@media (max-width: 1200px) {
  #btnSavePTU,
  #btnAcceptToSendTaxAuthority {
    position: relative;
    top: 10px;
  }

  .short-text-header {
    display: inline-block;
  }
  .full-text-header {
    display: none;
  }
}
.app {
  display: flex;
  position: relative;
}
.app main {
  /* padding: 0 24px 24px 24px; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
#root,
.app {
  height: 100%;
}
.pro-sidebar {
  color: #ffffff;
}
.cus-menu {
  margin-top: 72px;
}
.pro-menu-item > a:hover {
  color: #ffffff !important;
}
.hidden {
  display: none !important;
}
#tb_filehddtThongBaoSaiSot {
  margin-top: 50px;
  text-align: center;
}
#tb_filehddtThongBaoSaiSot > thead > tr > th,
#tb_filehddtThongBaoSaiSot > tbody > tr > td {
  border: 1px solid #000000;
  padding: 5px;
}
#tb_filehddtThongBaoSaiSot > thead > tr > th {
  font-size: 0.95em;
}
#tb_filehddtThongBaoSaiSot > tbody > tr > td {
  font-size: 0.85em;
}
